* {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-color: lavender;

}

.container {

    max-width: 50%;
}

.current-city {

    margin: 10px 25px 10px 10px;

    min-height: 350px;

    line-height: 2.2vh;

    font-size: 22px;

}

.forecast {

    margin: 10px;

}

.city, .forecast-title {

    font-weight: bold;

}

.side-bar {

    margin-left: 5px;
}



